body {
    background-color: #FFF;
    --candle-color: #673C63;
    --shadow-color: #95c6f2;
    --anim-duration: 2.5s;
    --trans-delay: 2.1s;
  }

  .credits{
    color: var(--candle-color);
    text-align: right;
    font-size: 8px;
    margin: 5px 0 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

  .subheader{
    color: var(--candle-color);
    text-align: center;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
  }

  .cover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:15;
    pointer-events: none;
    background: black;
    opacity: 0;
    transition: .2s  ease-in;
    transition-delay: var(--trans-delay);
  }

  .vid{
    display: none;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    width: 400px;
    height: 500px;
  }
  
  .floor {
    width: inherit;
    height: 5px;
    background: var(--candle-color);
    box-shadow: 0px 2px 5px #111;
    z-index: 4;
  }

  input[type="checkbox"]{
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }

  input[type="checkbox"]:checked + .candle_wrapper .candle_smoke_1{
    animation: move-left var(--anim-duration) linear;
  }

  input[type="checkbox"]:checked + .candle_wrapper .candle_smoke_2{
    animation: move-top var(--anim-duration) linear;
  }
  
  input[type="checkbox"]:checked + .candle_wrapper .candle_stick{
    animation: stick-animation var(--anim-duration) linear;
  }

  input[type="checkbox"]:checked + .candle_wrapper .candle_fire{
    animation: blow-out var(--anim-duration) linear;
  }

  input[type="checkbox"]:checked + .candle_wrapper + input + .candle_wrapper .candle_base{
    animation: expand-body var(--anim-duration) linear;
  }
  
  input[type="checkbox"]:checked + .candle_wrapper + input + .candle_wrapper .candle_mouth{
    animation: uff var(--anim-duration) linear;
  }

  input[type="checkbox"]:checked + .candle_wrapper + input + .candle_wrapper .candle .candle_eyes{
    animation: blink-eyes var(--anim-duration) linear;
  }

  input[type="checkbox"]:checked ~ .cover{
    opacity: 1;
    pointer-events: all;
  }
  
  
  .candles {
    height: inherit;
    position: relative;
    z-index: 5;
    width: inherit;
  }

  .candle_wrapper{
    bottom: 0%;
    position: absolute;
    width: 42px;
  }

  #candle1{
    left: 10%;
    height: 80px;
  }

  #candle2{
    left: 30%;
    height: 120px;
  }

  #candle3{
    left: 50%;
    height: 160px;
  }

  #candle4{
    left: 70%;
    height: 180px;
  }

  .candle-disabled{
    pointer-events: none;
  }

  .candle-disabled .candle_fire{
    display: none;
  }

  .candle_base{
    position: relative;
    width: inherit;
    height: inherit;
    display: block;
  }

  .candle_stick{ 
    position: absolute;
    width: 3px;
    height: 15px;
    top: 2%;
    left: 50%;
    background: var(--candle-color);
    border-radius: 8px;
    transform: translate(-50%, -100%);
    transform-origin: bottom center;
  }
  
  .candle{
    position: relative;
    width: 100%;
    height: calc(100% - 2px);
    background: #fff;
    border: 3px solid var(--candle-color);
    border-bottom: 0px;
    border-radius: 3px;
    box-shadow: -3px 0px 0px 0px  var(--shadow-color) inset;
    /* animation: shake-left 3s infinite linear; */
    /* animation: expand-body 3s infinite linear; */
  }

  .angry_candle .candle{
    box-shadow: -3px 0px 0px 0px  #bf2727 inset;
    background: #ec6262;
  }

  .candle_base:hover{
    cursor: pointer;
    transform: scale(1.1,1.1) translateY(-5%);
    transition: .1s ease-in-out;
  }

  .candle_eyebrows{
    display: none;
  }

  .angry_candle .candle_eyebrows{
    display: inline-block;
    position: absolute;
    background: var(--candle-color);
    width: 10px;
    height: 2px;
    color: black;
    top: 10px;
  }

  .candle_eyebrow_one{
    transform: rotate(20deg);
    left: 10%;
  }

  .candle_eyebrow_two{
    left: 40%;
    transform: rotate(-10deg);
  }
    
  .candle_eyes {
    position: absolute;
    top: 15px;
    width: 5px;
    height: 5px;
    display: inline-block;
    border: 0px solid var(--candle-color);
    border-radius: 100%;
    float: left;
    background: var(--candle-color);
    transform: translate(-80%, 0%);
  }
  
  .candle_eyes-one {
    left: 30%;
  }
  
  .candle_eyes-two {
    left: 60%;
  }

  .angry_candle .candle_eyes{
    width: 7px;
    height: 7px;
  }



  .candle_fire {
    position: absolute;
    display: block;
    left: 50%;
    top: -15px;
    z-index: 5;
    width: 16px;
    height: 20px;
    background-color: red;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    background: #FF9800;
    transform: translate(-50%, -50%);
    animation: dance-fire 3s infinite linear;
  }

  /*
  .angry_candle .candle_fire{
    width: 22px;
    height: 40px;
    top: -25px;
    animation: dance-angry-fire .2s infinite linear;
  }
  */

  .candle_smoke_1 {
    opacity: 0;
    position: absolute;
    left: 30%;
    top: -15px;
    width: 30px;
    height: 3px;
    background: grey;
    transform: translate(-50%, -50%);
  }
  
  .candle_smoke_2 {
    opacity: 0;
    position: absolute;
    left: 30%;
    top: -30px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: grey;
    transform: translate(-50%, -50%);
  }

  .candle_mouth {
    position: absolute;
    left: 40%;
    top: 33px;
    width: 0px;
    height: 0px;
    border-radius: 20px;
    background: var(--candle-color);
    transform: translate(-50%, -50%);
  }

  /*
  .candle2__stick {
    position: absolute;
    left: 50%;
    top: 0%;
    width: 3px;
    height: 15px;
    background: #673C63;
    border-radius: 8px;
    transform: translate(-50%, -100%);
  }
  
  .candle2__stick {
    height: 12px;
    transform-origin: bottom center;
    animation: stick-animation 3s infinite linear;
  }
  
  .candle2__eyes {
    position: absolute;
    left: 50%;
    top: 0%;
    width: 35px;
    height: 30px;
    transform: translate(-50%, 0%);
  }
  
  
  .candle2 {
    position: absolute;
    left: 20%;
    top: 65%;
    width: 42px;
    height: 60px;
    background: #fff;
    border: 3px solid #673C63;
    border-bottom: 0px;
    border-radius: 3px;
    transform: translate(60%, -15%);
    transform-origin: center right;
    box-shadow: -2px 0px 0px #95c6f2 inset;
    animation: shake-left 3s infinite linear;
  }
  
  .candle2__eyes-one {
    position: absolute;
    left: 30%;
    top: 50%;
    width: 5px;
    height: 5px;
    display: inline-block;
    border: 0px solid #673C63;
    border-radius: 100%;
    float: left;
    background: #673C63;
    transform: translate(-80%, 0%);
    animation: changeto-lower 3s infinite linear;
  }
  
  .candle2__eyes-two {
    position: absolute;
    left: 70%;
    top: 50%;
    width: 5px;
    height: 5px;
    display: inline-block;
    border: 0px solid #673C63;
    border-radius: 100%;
    float: left;
    background: #673C63;
    transform: translate(-80%, 0%);
    animation: changeto-greater 3s infinite linear;
  }
  
  .light__wave {
    position: absolute;
    top: 35%;
    left: 35%;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    z-index: 0;
    transform: translate(-25%, -50%) scale(2.5, 2.5);
    border: 2px solid rgba(255, 255, 255, 0.2);
    animation: expand-light 3s infinite linear;
  }
  
  .candle2__fire {
    position: absolute;
    top: 50%;
    left: 40%;
    display: block;
    width: 16px;
    height: 20px;
    background-color: red;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    background: #FF9800;
    transform: translate(-50%, -50%);
    animation: dance-fire 3s infinite linear;
  }

  */
  
  @keyframes blink-eyes {
    0%,35% {
      opacity: 1;
      transform: translate(-70%, 0%);
    }
    36%,39% {
      opacity: 0;
      transform: translate(-70%, 0%);
    }
    40% {
      opacity: 1;
      transform: translate(-70%, 0%);
    }
    50%,65% {
      transform: translate(-140%, 0%);
    }
    66% {
      transform: translate(-70%, 0%);
    }
  }

  @keyframes expand-body {
    0%,20% {
      transform: scale(1, 1);
    }
    20%,55% {
      transform: scale(1.1, 1.1) translateY(-5%);
    }
    60% {
      transform: scale(0.89, 0.89);
    }
    65% {
      transform: scale(1, 1);
    }
    70% {
      transform: scale(0.95, 0.95);
    }
    75% {
      transform: scale(1, 1);
    }
  }



  @keyframes uff {
    0%,40% {
      width: 0px;
      height: 0px;
    }
    50%,54% {
      width: 15px;
      height: 15px;
      left: 30%;
    }
    59% {
      width: 5px;
      height: 5px;
      left: 20%;
    }
    62% {
      width: 2px;
      height: 2px;
      left: 20%;
    }
    67% {
      width: 0px;
      height: 0px;
      left: 30%;
    }
  }
  
  @keyframes move-left {
    0%{
      opacity: 1;
    }
    0%,59%,100% {
      width: 0px;
      left: 40%;
    }
    60% {
      width: 30px;
      left: 30%;
    }
    68% {
      width: 0px;
      left: -70%;
    }
    100%{
      opactity: 0;
    }
  }
  @keyframes move-top {
    0%{
      opacity: 1;
    }
    0%,64%,100% {
      width: 0px;
      height: 0px;
      top: 0%;
      left: 50%;
    }
    65% {
      width: 10px;
      height: 10px;
      top: -20%;
      left: 20%;
    }
    80% {
      width: 0px;
      height: 0px;
      top: -40%;
    }
    100%{
      opacity: 0;
    }
  }
  /*
  @keyframes shake-left {
    0%,40% {
      left: 20%;
      transform: translate(60%, -15%);
    }
    50%,54% {
      left: 20%;
      transform: translate(60%, -15%);
    }
    59% {
      left: 20%;
      transform: translate(60%, -15%);
    }
    62% {
      left: 18%;
      transform: translate(60%, -15%);
    }
    65% {
      left: 21%;
      transform: translate(60%, -15%);
    }
    67% {
      left: 20%;
      transform: translate(60%, -15%);
    }
    75% {
      left: 20%;
      transform: scale(1.15, 0.85) translate(60%, -15%);
      background: #fff;
      border-color: #673C63;
    }
    91% {
      left: 20%;
      transform: scale(1.18, 0.82) translate(60%, -10%);
      background: #F44336;
      border-color: #F44336;
      box-shadow: -2px 0px 0px #F44336 inset;
    }
    92% {
      left: 20%;
      transform: scale(0.85, 1.15) translate(60%, -15%);
    }
    95% {
      left: 20%;
      transform: scale(1.05, 0.95) translate(60%, -15%);
    }
    97% {
      left: 20%;
      transform: scale(1, 1) translate(60%, -15%);
    }
  }
  */

  @keyframes stick-animation {
    0%,40% {
      left: 50%;
      transform: translate(-50%, -100%);
    }
    50%,54% {
      left: 50%;
      transform: translate(-50%, -100%);
    }
    59% {
      left: 50%;
      transform: translate(-50%, -100%);
    }
    62% {
      left: 50%;
      transform: rotateZ(-15deg) translate(-50%, -100%);
    }
    65% {
      left: 50%;
      transform: rotateZ(15deg) translate(-50%, -100%);
    }
    70% {
      left: 50%;
      transform: rotateZ(-5deg) translate(-50%, -100%);
    }
    72% {
      left: 50%;
      transform: rotateZ(5deg) translate(-50%, -100%);
    }
    74%,84% {
      left: 50%;
      transform: rotateZ(0deg) translate(-50%, -100%);
    }
    /* 85% {
      transform: rotateZ(180deg) translate(0%, 120%);
    }
    92% {
      left: 50%;
      top: 0%;
      transform: translate(-50%, -100%);
    } */
  }
  /*
  @keyframes expand-light {
    10%,29%,59%,89% {
      transform: translate(-25%, -50%) scale(0, 0);
      border: 2px solid rgba(255, 255, 255, 0);
    }
    90%,20%,50% {
      transform: translate(-25%, -50%) scale(1, 1);
    }
    95%,96%,26%,27%,56%,57% {
      transform: translate(-25%, -50%) scale(2, 2);
      border: 2px solid rgba(255, 255, 255, 0.5);
    }
    0%,28%,58%,100% {
      transform: translate(-25%, -50%) scale(2.5, 2.5);
      border: 2px solid rgba(255, 255, 255, 0.2);
    }
  }
  */

  @keyframes dance-fire {
    59%,89%,98%,80%,75% {
      left: 49%;
    }
    90%,0%,7%,15%,23%,31%,39%,47%,55%,64%,82%,86%{
      left: 50%;
      background: #FFC107;
    }
    94%,3%,11%,19%,27%,35%,43%,51%,58%,70%,77%,84% {
      left: 52%;
      background: #FF9800;
    }
  }

  /*@keyframes dance-angry-fire {
    33.3%{
      left: 45%;
    }
    0%,100%{
      left: 50%;
      background: #ffcc00;
    }
    66.6% {
      left: 55%;
      background: #fff200;
    }
  }
  */

  @keyframes blow-out{
    0%,59%{
      opacity: 1;
    }
    60%,100%{
      opacity: 0;
    }
  }

  /*

  @keyframes changeto-lower {
    0%,70%,90% {
      padding: 0px;
      display: inline-block;
      border-radius: 100%;
      background: #673C63;
      border-width: 0 0 0 0;
      border: 0px solid #673C63;
      transform: translate(-90%, 0%);
    }
    71%,89% {
      background: none;
      border: solid #673C63;
      border-radius: 0px;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 1px;
      float: left;
      transform-origin: bottom left;
      transform: rotate(-45deg) translate(-50%, -65%);
      -webkit-transform: rotate(-45deg) translate(-50%, -65%);
    }
  }
  @keyframes changeto-greater {
    0%,70%,90% {
      top: 50%;
      padding: 0px;
      display: inline-block;
      border-radius: 100%;
      background: #673C63;
      border-width: 0 0 0 0;
      border: 0px solid #673C63;
      transform: translate(-80%, 0%);
    }
    71%,89% {
      top: 30%;
      background: none;
      border: solid #673C63;
      border-radius: 0px;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 1px;
      float: left;
      transform-origin: bottom left;
      transform: rotate(135deg) translate(-80%, 20%);
      -webkit-transform: rotate(135deg) translate(-80%, 20%);
    }
  }

  */